= render partial: "nav"
= render partial: "current_competition_table", locals: { competition: @event }
%br
%br
%br
%br
%br
= link_to('OTHER EVENTS', events_path)
= link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE']
