%div{class: 'table-container'}
  %table{border: 0, class: 'table table-condensed borderless'}
    %tr
      %th{class: 'ordinal'}
      %th{class: 'text-left person-name'} NAME
    - groups.each_with_index do |group, index|
      %tr
        %td{class: 'ordinal'}= index + 1
        %td{class: "text-left weight"}=link_to(group.name, polymorphic_path(group))
