%table
  - Person.ordered_by_up_by(people, event).each_with_index do |person, index|
    %tr
      %td{class: 'ordinal'}= index + 1
      %td{class: "text-left"}=link_to(person.name, person_path(person.id))
      - up_by = person.up_by(event)
      - if !up_by.nil?
        %td{class: "text-left weight"}=person.up_by(event)
      - else
        %td{class: "text-left weight"} 0.0
